@using AspMVCMeeting.ViewModels
@model VM_MEETING

<ng-form name="lineForm">
    <div id="MeetingLinesDiv" style="display:none">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input id="lineId" type="hidden" />

        @*<div class="container">*@
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_TYPE, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.MEETING_LINES.MTL_TYPE, ViewBag.MEETING_LINE_TYPES as SelectList, new { @class = "form-control", @ng_model = "line.MEETING_LINES.MTL_TYPE" })
                        @*<select class="form-control" id="MTL_TYPE" ng-model="line.MTL_TYPE" ng-options="item.MLN_NAME for item in linetypes track by item.ID"></select>*@
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_TYPE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.MEETING_LINES.MTL_DESCRIPTION, new { @class = "form-control", @ng_model = "line.MEETING_LINES.MTL_DESCRIPTION" })
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_DESCRIPTION, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_DEPARTMENT, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group select2-bootstrap-append">
                            @Html.DropDownListFor(model => model.MEETING_LINES.MTL_DEPARTMENT, ViewBag.DEPT as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_DEPARTMENT", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                        </div>
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_DEPARTMENT, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_RESPONSIBLE, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="select2-bootstrap-append">
                            @Html.DropDownListFor(model => model.MEETING_LINES.MTL_RESPONSIBLE, ViewBag.MT_MANAGER as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_RESPONSIBLE", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                        </div>
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_RESPONSIBLE, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-hide="line.MEETING_LINES.MTL_TYPE == 1">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_EXECUTANT, htmlAttributes: new { @class = "control-label col-md-4" })
                    {{line.MTL_EXECUTANT}}
                    <div class="col-md-8">
                        <div class="input-group select2-bootstrap-append">
                            @Html.DropDownListFor(model => model.lst_MTL_EXECUTANT, ViewBag.MT_MANAGER as SelectList, new { @ng_model = "line.lst_MTL_EXECUTANT", @class = "form-control select2 select2-multiple select2-hidden-accessible", @tabindex = "-1", @multiple = "" })

                        </div>
                        @Html.ValidationMessageFor(model => model.lst_MTL_EXECUTANT, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-hide="line.MEETING_LINES.MTL_TYPE == 1">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_CONFIRMER, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group select2-bootstrap-append">
                            @Html.DropDownListFor(model => model.MEETING_LINES.MTL_CONFIRMER, ViewBag.MT_MANAGER as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_CONFIRMER", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_CONFIRMER, "", new { @class = "text-danger" })

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_START_DATE, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group date date-picker" data-date-viewmode="years">
                            @Html.EditorFor(model => model.MEETING_LINES.MTL_START_DATE, new { htmlAttributes = new { @ng_model = "line.MEETING_LINES.MTL_START_DATE", @class = "form-control", placeholder = "Daxil edin...", @readonly = "readonly", @jqdatepicker = "" } })
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': lineForm['MEETING_LINES.MTL_FINISH_DATE'].$invalid && (line.MEETING_LINES.MTL_TYPE === '3' || line.MEETING_LINES.MTL_TYPE === '4')}">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_FINISH_DATE, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group date date-picker" data-date-viewmode="years">
                            @Html.EditorFor(model => model.MEETING_LINES.MTL_FINISH_DATE, new { htmlAttributes = new { @ng_model = "line.MEETING_LINES.MTL_FINISH_DATE", @class = "form-control", placeholder = "Daxil edin...", @readonly = "readonly", @jqdatepicker = "", @ng_required = "line.MEETING_LINES.MTL_TYPE === '3' || line.MEETING_LINES.MTL_TYPE === '4'" } })
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_PROJECT_CODE, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group select2-bootstrap-append">
                            @Html.DropDownListFor(model => model.MEETING_LINES.MTL_PROJECT_CODE, ViewBag.MTL_PROJECT_CODE as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_PROJECT_CODE", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                        </div>
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_PROJECT_CODE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @*<div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MEETING_LINES.MTL_STS, htmlAttributes: new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.MEETING_LINES.MTL_STS, ViewBag.STATUS as SelectList, new { @class = "form-control", @ng_model = "line.MEETING_LINES.MTL_STS" })
                            @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_STS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group" ng-hide="line.MEETING_LINES.MTL_TYPE == 1">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_DECISION_TYPE, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group select2-bootstrap-append">
                            @Html.DropDownListFor(model => model.MEETING_LINES.MTL_DECISION_TYPE, ViewBag.DECISION_TYPES as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_DECISION_TYPE", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_DECISION_TYPE, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" id="divOfferUser" ng-show="line.MEETING_LINES.MTL_TYPE == 2">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_OFFER_USER, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group select2-bootstrap-append">
                            @Html.DropDownListFor(model => model.MEETING_LINES.MTL_OFFER_USER, ViewBag.MT_MANAGER as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_OFFER_USER", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_OFFER_USER, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" id="divOfferOk" ng-show="line.MEETING_LINES.MTL_TYPE == 2">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_OFFER_OK, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.MEETING_LINES.MTL_OFFER_OK,
                         new SelectList(
                             new[]
                             {
                                                                new { Value = "false", Text = "Xeyr" },
                                                                new { Value = "true", Text = "Bəli" },
                             },
                             "Value",
                             "Text"), new
                             {
                                 @ng_model = "line.MEETING_LINES.MTL_OFFER_OK",
                                 @class = "form-control"
                             })
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_OFFER_OK, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_TAGS, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.MEETING_LINES.MTL_TAGS, new { htmlAttributes = new { @class = "form-control", @ng_model = "line.MEETING_LINES.MTL_TAGS" } })
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_TAGS, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-hide="line.MEETING_LINES.MTL_TYPE == 1">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_RELATED_FORM_REF, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group select2-bootstrap-append">
                            @Html.DropDownListFor(model => model.lst_MTL_RELATED_FORM_REF, ViewBag.MTL_RELATED_FORM_REF as SelectList, new { @ng_model = "line.lst_MTL_RELATED_FORM_REF", @class = "form-control select2 select2-multiple select2-hidden-accessible", @tabindex = "-1", @multiple = "" })

                        </div>
                        @Html.ValidationMessageFor(model => model.lst_MTL_RELATED_FORM_REF, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-hide="line.MEETING_LINES.MTL_TYPE == 1">
                    @Html.LabelFor(model => model.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION, new { @ng_model = "line.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Dosyalar", htmlAttributes: new { @class = "col-md-4", @ng_show = "fileEdit || fileCreate" })
                    <div ng-show="fileEdit" class="col-md-8">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr ng-repeat="file in lineFiles">
                                        <td style="word-break:break-all">{{file.MTF_FILENAME}}</td>
                                        <td>{{file.ID}}</td>
                                        <td><a ng-click="removeLineFileByID(file.ID)"><i class='fa fa-trash-o'></i> Sil </a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <label class="btn btn-primary" for="lineFileEdit">
                            <input id="lineFileEdit" name="myFile" upload-file="myFile" type="file" style="display:none;">
                            Yükle <i class="fa fa-upload"></i>
                        </label>

                        @*@Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_SCODE1, "", new { @class = "text-danger" })*@
                    </div>
                    <div ng-show="fileCreate" class="col-md-8">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" ng-show="resultLine.length > 0">
                                <tbody>
                                    <tr ng-repeat="file in resultLine">
                                        <td style="word-break:break-all">{{file.fileName}}</td>
                                        <td>{{file.fileSize}}</td>
                                        <td>
                                            <a ng-click="removeLineFile(file.fileName)"><i class='fa fa-trash-o'></i> Sil </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <label class="btn btn-primary" for="lineFileCreate">
                            <input id="lineFileCreate" name="myFile" upload-file="myFile" type="file" style="display:none;">
                            Yükle <i class="fa fa-upload"></i>
                        </label>

                        @*@Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_SCODE1, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 right-padding" style="padding-bottom:10px;">
                        @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE1, new { htmlAttributes = new { autocomplete = "off", @ng_model = "line.MEETING_LINES.MTL_SCODE1", @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.MEETING_LINES.MTL_SCODE1), @uib_typeahead = "item for item in lineScopes1 | filter:$viewValue | limitTo:8" } })
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE1, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 left-padding" style="padding-bottom:10px;">
                        @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE2, new { htmlAttributes = new { autocomplete = "off", @ng_model = "line.MEETING_LINES.MTL_SCODE2", @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.MEETING_LINES.MTL_SCODE2), @uib_typeahead = "item for item in lineScopes2 | filter:$viewValue | limitTo:8" } })
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 right-padding" style="padding-bottom:10px;">
                        @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE3, new { htmlAttributes = new { autocomplete = "off", @ng_model = "line.MEETING_LINES.MTL_SCODE3", @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.MEETING_LINES.MTL_SCODE3), @uib_typeahead = "item for item in lineScopes3 | filter:$viewValue | limitTo:8" } })
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE1, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 left-padding" style="padding-bottom:10px;">
                        @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE4, new { htmlAttributes = new { autocomplete = "off", @ng_model = "line.MEETING_LINES.MTL_SCODE4", @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.MEETING_LINES.MTL_SCODE4), @uib_typeahead = "item for item in lineScopes4 | filter:$viewValue | limitTo:8" } })
                        @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@

        <div style="text-align:right; background-color: #f5f5f5; border-top: 1px solid #e7ecf1; padding-bottom:5px; padding-top:5px">
            <button ng-show="Action == 'Add'" type="button" ng-click="CancelAddEdit()" class="btn red" data-toggle="confirmation"
                    data-btn-ok-class="btn-success" data-btn-cancel-class="btn-danger"
                    data-btn-ok-label="Devam" data-btn-cancel-label="İptal!"
                    data-btn-ok-icon="fa fa-share" data-btn-cancel-icon="fa fa-ban"
                    data-title="Eminmisiniz?" data-content="Form kayt edilmeyecek">
                <i class="fa fa-close"></i> Kapat
            </button>
            <button ng-hide="Action == 'Add'" type="button" ng-click="CancelAddEdit()" class="btn red"><i class="fa fa-close"></i> Kapat</button>
            <button ng-disabled="lineForm.$error.required" style="display:none; border-radius: 5px !important;" id="AddCopyLine" type="button" ng-click="AddCopyLine()" class="btn btn-primary"><i class="fa fa-files-o"></i> Kopyala </button>
            <button ng-disabled="lineForm.$error.required" id="btnAddLine" type="button" ng-click="AddUpdateLine()" class="btn green"><i class="fa fa-floppy-o"></i> Kaydet </button>
        </div>

    </div>
</ng-form>