@using AspMVCMeeting.ViewModels
@model VM_MEETING

@{
    ViewBag.Title = "Create";
}

@section CustomScripts
   {
    <!--Timepicker and Datepicker-->
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>

    <link href="~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>

    <!--JQuery Select2-->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>

    <!--Angular-->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/assets/global/scripts/angular-upload.js"></script>

    <script src="~/Angular/MeetingMasterLines/Module.js"></script>
    <script src="~/Angular/MeetingMasterLines/Service.js"></script>
    <script src="~/Angular/MeetingMasterLines/Controller.js"></script>
}

    <div ng-app="app" ng-controller="linesCntrl">
        @using (Html.BeginForm("CreateMeetingLines", "MeetingMaster"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.MEETING_LINES.MTL_MT_REF, new { @Value = Model.MEETING_MASTER == null ? -1 : Model.MEETING_MASTER.ID })
    <!-- BEGIN MEETING LINES -->
            <div class="portlet box blue ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-file"></i> Toplanti Satırları Deyişim Formu
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <!--BEGIN TABLE -->
                            <div class="table-responsive">
                                <table id="MeetingMasterLinesTable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th scope="col"> İşlemler </th>
                                            <th scope="col"> Nr</th>
                                            <th scope="col"> Kayıt türü </th>
                                            <th scope="col"> Açıklama </th>
                                            <th scope="col"> Baş. tarih </th>
                                            <th scope="col"> Bit. tarih </th>
                                            <th scope="col"> İcraçılar </th>
                                            <th scope="col"> Teyit edən </th>
                                            <th scope="col"> Statü </th>
                                            <th scope="col"> Taglar </th>
                                            <th scope="col"> Bağ. toplantılar </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="line in lines">
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-xs blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                        İşlemler
                                                        <i class="fa fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a ng-click="viewLine(line)"><i class='fa fa-eye'></i> Görüntüle</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="editLine(line)"><i class='fa fa-pencil'></i>Deyiş</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="deleteLine(line)"><i class='fa fa-trash-o'></i>Sil</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>{{$index + 1}}</td>
                                            <td>{{line.MLN_NAME}}</td>
                                            <td>{{line.MEETING_LINES.MTL_DESCRIPTION}} </td>
                                            <td> {{line.MEETING_LINES.MTL_START_DATE | ctime | date : 'dd.MM.yyyy'}} </td>
                                            <td> {{line.MEETING_LINES.MTL_FINISH_DATE | ctime | date : 'dd.MM.yyyy'}} </td>
                                            <td> {{line.MEETING_LINES.MTL_RESPONSIBLE}} </td>
                                            <td> {{line.MEETING_LINES.MTL_CONFIRMER}} </td>
                                            <td> {{line.MEETING_LINES.MTL_STS}} </td>
                                            <td> {{line.MEETING_LINES.MTL_TAGS}} </td>
                                            <td> {{line.MEETING_LINES.MTL_RELATED_FORM_REF}} </td>
                                        </tr>


                                        @*@{int rowNum = 0;}
                                            @foreach (var item in Model.lst_MEETING_LINES ?? new List<VM_MEETING_LINES>())
                                            {
                                                rowNum++;
                                                <tr>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button class="btn btn-xs blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                                İşlemler
                                                                <i class="fa fa-angle-down"></i>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li>
                                                                    <a href="@Url.Action("View", "MeetingMaster", new { id = item.MEETING_LINES.ID})"><i class='fa fa-eye'></i> Görüntüle</a>
                                                                </li>
                                                                <li>
                                                                    <a href="@Url.Action("Edit", "MeetingMaster", new { id = item.MEETING_LINES.ID})"><i class='fa fa-pencil'></i>Deyiş</a>
                                                                </li>
                                                                <li>
                                                                    <a href="@Url.Action("Delete", "MeetingMaster", new { id = item.MEETING_LINES.ID})"><i class='fa fa-trash-o'></i>Sil</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td> @rowNum </td>
                                                    <td>
                                                        @Html.HiddenFor(modelItem => item.MEETING_LINES.MTL_TYPE)
                                                        @Html.DisplayFor(modelItem => item.MLN_NAME)
                                                    </td>
                                                    <td> @Html.DisplayFor(modelItem => item.MEETING_LINES.MTL_DESCRIPTION) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.MEETING_LINES.MTL_START_DATE) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.MEETING_LINES.MTL_FINISH_DATE) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.MEETING_LINES.MTL_RESPONSIBLE) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.MEETING_LINES.MTL_CONFIRMER) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.MEETING_LINES.MTL_STS) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.MEETING_LINES.MTL_TAGS) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.MEETING_LINES.MTL_RELATED_FORM_REF) </td>
                                                </tr>
                                            }*@
                                    </tbody>
                                </table>
                            </div>
                            <!--END TABLE -->

                            <div class="form-actions right" style="background-color:#ffffff">
                                <button type="button" ng-click="AddLineDiv()" class="btn sbold blue">
                                    Yeni ekle
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                            <div id="MeetingLinesDiv">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <input id="lineId" type="hidden" />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_TYPE, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.MEETING_LINES.MTL_TYPE, ViewBag.MEETING_LINE_TYPES as SelectList, new { @class = "form-control", @ng_model = "line.MEETING_LINES.MTL_TYPE" })
                                                @*<select class="form-control" id="MTL_TYPE" ng-model="line.MTL_TYPE" ng-options="item.MLN_NAME for item in linetypes track by item.ID"></select>*@
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_TYPE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_START_DATE, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div id="div_MTL_START_DATE" class="input-group date date-picker" data-date-format="dd.mm.yyyy" data-date-viewmode="years">
                                                    @Html.EditorFor(model => model.MEETING_LINES.MTL_START_DATE, new { htmlAttributes = new { @ng_model = "line.MEETING_LINES.MTL_START_DATE", @class = "form-control", placeholder = "Daxil edin...", @readonly = "readonly", @jqdatepicker = "" } })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_FINISH_DATE, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div id="div_MTL_FINISH_DATE" class="input-group date date-picker" data-date-format="dd.mm.yyyy" data-date-viewmode="years">
                                                    @Html.EditorFor(model => model.MEETING_LINES.MTL_FINISH_DATE, new { htmlAttributes = new { @ng_model = "line.MEETING_LINES.MTL_FINISH_DATE", @class = "form-control", placeholder = "Daxil edin...", @readonly = "readonly" } })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*| ctime | date : 'dd.MM.yyyy'*@
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_RESPONSIBLE, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="select2-bootstrap-append">
                                                    @Html.DropDownListFor(model => model.MEETING_LINES.MTL_RESPONSIBLE, ViewBag.MT_MANAGER as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_RESPONSIBLE", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_RESPONSIBLE, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.lst_MTL_EXECUTANT, htmlAttributes: new { @class = "control-label col-md-4" })
                                            {{line.MTL_EXECUTANT}}
                                            <div class="col-md-8">
                                                <div class="input-group select2-bootstrap-append">
                                                    @Html.DropDownListFor(model => model.lst_MTL_EXECUTANT, ViewBag.MT_MANAGER as SelectList, new { @ng_model = "line.lst_MTL_EXECUTANT", @class = "form-control select2 select2-multiple select2-hidden-accessible", @tabindex = "-1", @multiple = "" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.lst_MTL_EXECUTANT, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_TAGS, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.MEETING_LINES.MTL_TAGS, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_TAGS, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(model => model.MEETING_LINES.MTL_DESCRIPTION, new { @class = "form-control", @ng_model = "line.MEETING_LINES.MTL_DESCRIPTION" })
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_DESCRIPTION, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_PROJECT_CODE, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group select2-bootstrap-append">
                                                    @Html.DropDownListFor(model => model.MEETING_LINES.MTL_PROJECT_CODE, ViewBag.MTL_PROJECT_CODE as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_PROJECT_CODE", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_PROJECT_CODE, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_DEPARTMENT, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group select2-bootstrap-append">
                                                    @Html.DropDownListFor(model => model.MEETING_LINES.MTL_DEPARTMENT, ViewBag.DEPT as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_DEPARTMENT", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_DEPARTMENT, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_STS, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.MEETING_LINES.MTL_STS, ViewBag.STATUS as SelectList, new { @class = "form-control", @ng_model = "line.MEETING_LINES.MTL_STS" })
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_STS, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_CONFIRMER, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group select2-bootstrap-append">
                                                    @Html.DropDownListFor(model => model.MEETING_LINES.MTL_CONFIRMER, ViewBag.MT_MANAGER as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_CONFIRMER", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_CONFIRMER, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_DECISION_TYPE, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group select2-bootstrap-append">
                                                    @Html.DropDownListFor(model => model.MEETING_LINES.MTL_DECISION_TYPE, ViewBag.DECISION_TYPES as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_DECISION_TYPE", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_DECISION_TYPE, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="form-group" id="divOfferUser" ng-show="line.MEETING_LINES.MTL_TYPE != 2">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_OFFER_USER, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group select2-bootstrap-append">
                                                    @Html.DropDownListFor(model => model.MEETING_LINES.MTL_OFFER_USER, ViewBag.MT_MANAGER as SelectList, new { @ng_model = "line.MEETING_LINES.MTL_OFFER_USER", @class = "form-control select2 select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_OFFER_USER, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="form-group" id="divOfferOk" ng-show="line.MEETING_LINES.MTL_TYPE != 2">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_OFFER_OK, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.MEETING_LINES.MTL_OFFER_OK,
                                                        new SelectList(
                                                            new[]
                                                            {
                                                                new { Value = "false", Text = "Xeyr" },
                                                                new { Value = "true", Text = "Bəli" },
                                                            },
                                                            "Value",
                                                            "Text"), new
                                                            {
                                                                @ng_model = "line.MEETING_LINES.MTL_OFFER_OK",
                                                                @class = "form-control"
                                                            })
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_OFFER_OK, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.lst_MTL_RELATED_FORM_REF, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group select2-bootstrap-append">
                                                    @Html.DropDownListFor(model => model.lst_MTL_RELATED_FORM_REF, ViewBag.MTL_RELATED_FORM_REF as SelectList, new { @ng_model = "line.lst_MTL_RELATED_FORM_REF", @class = "form-control select2 select2-multiple select2-hidden-accessible", @tabindex = "-1", @multiple = "" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.lst_MTL_RELATED_FORM_REF, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(model => model.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION, new { @ng_model = "line.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_SCODE1, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE1, new { htmlAttributes = new { @ng_model = "line.MEETING_LINES.MTL_SCODE1", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_SCODE2, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE2, new { htmlAttributes = new { @ng_model = "line.MEETING_LINES.MTL_SCODE2", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_SCODE3, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE3, new { htmlAttributes = new { @ng_model = "line.MEETING_LINES.MTL_SCODE3", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE3, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_SCODE4, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE4, new { htmlAttributes = new { @ng_model = "line.MEETING_LINES.MTL_SCODE4", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE4, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MEETING_LINES.MTL_SCODE5, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE5, new { htmlAttributes = new { @ng_model = "line.MEETING_LINES.MTL_SCODE5", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE5, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Dosyalar", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div ng-show="fileEdit" class="col-md-8">

                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tbody>
                                                            <tr ng-repeat="file in lineFiles">
                                                                <td style="word-break:break-all">{{file.MTF_FILENAME}}</td>
                                                                <td>{{file.ID}}</td>
                                                                <td><a ng-click="removeLineFileByID(file.ID)"><i class='fa fa-trash-o'></i> Sil </a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <label class="btn btn-primary" for="lineFileEdit">
                                                    <input id="lineFileEdit" name="myFile" upload-file="myFile" type="file" style="display:none;">
                                                    Yükle <i class="fa fa-upload"></i>
                                                </label>

                                                @*@Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_SCODE1, "", new { @class = "text-danger" })*@
                                            </div>

                                            <div ng-show="fileCreate" class="col-md-8">

                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tbody>
                                                            <tr ng-repeat="file in resultLine">
                                                                <td style="word-break:break-all">{{file.fileName}}</td>
                                                                <td>{{file.fileSize}}</td>
                                                                <td><a ng-click="removeLineFile(file.fileName)"><i class='fa fa-trash-o'></i> Sil </a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <label class="btn btn-primary" for="lineFileCreate">
                                                    <input id="lineFileCreate" name="myFile" upload-file="myFile" type="file" style="display:none;">
                                                    Yükle <i class="fa fa-upload"></i>
                                                </label>

                                                @*@Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_SCODE1, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" id="btnCancelMeetingLines" class="btn red"><i class="fa fa-close"></i> İptal</button>
                                    <button type="button" ng-click="AddUpdateLine()" class="btn green"><i class="fa fa-check"></i> Kaydet </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <!-- END MEETING LINES -->
        }

    </div>
