@using AspMVCMeeting.ViewModels
@model VM_MEETING

@{
    ViewBag.Title = "Create";
}

@section CustomScripts
   {
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>

    <link href="~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>

    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $("#MT_DATE").datepicker({
                format: 'dd.mm.yyyy',
                autoclose: true
            });

            if ($("#MT_DATE").val() == '') {
                $("#MT_DATE").datepicker("setDate", new Date);
            }

            $('#div_MT_DATE').datepicker({
                format: 'dd.mm.yyyy',
                weekStart: 1,
                startDate: '01/01/1990',
                endDate: '+0d',
                autoclose: true,
            })


            $("#MT_START_TIME").timepicker({
                maxHours: 24,
                showMeridian: false,
                defaultTime: 'current',
                minuteStep: 5
            });


            $("#MT_FINISH_TIME").timepicker({
                maxHours: 24,
                showMeridian: false,
                defaultTime: 'current',
                minuteStep: 5
            });

            $("#MT_MANAGER").select2({
                placeholder: "Seçim edin",
                allowClear: true
            }).val('').change();

            $("#MT_FOLLOWER_USERID").select2({
                placeholder: "Seçim edin",
                allowClear: true
            }).val('').change();


            function h(e) {
                $(e).css({ 'height': 'auto', 'overflow-y': 'hidden' }).height(e.scrollHeight);
            }
            $('textarea').each(function () {
                h(this);
            }).on('input', function () {
                h(this);
            });

        });
    </script>

    <style>
        .control-label {
            text-align: left !important;
        }
    </style>
}

@using (Html.BeginForm("Create", "MeetingMaster"))
{
    @Html.AntiForgeryToken()

    <!-- BEGIN MEETING MASTER INFO -->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-file"></i> Toplanti Yonetimi Ekleme Formu
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-horizontal">
                <div class="form-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_TYPE, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.MEETING_MASTER.MT_TYPE, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model => model.MEETING_MASTER.MT_TYPE, ViewBag.MEETING_TYPE as SelectList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_TYPE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_TITLE, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_TITLE, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_TITLE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.MEETING_MASTER.MT_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MEETING_MASTER.MT_DATE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_DATE, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group">
                                @*<label class="control-label">Domain bitiş tarixi</label>*@
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_DATE, htmlAttributes: new { @class = "control-label" })
                                <div id="div_MT_DATE" class="input-group date date-picker" data-date-format="dd.mm.yyyy" data-date-viewmode="years">
                                    @*<input type="text" id="Brd_EndDate" name="Brd_EndDate" value="@if (@Model != null && @model.MEETING_MASTER.brand_Managment.Brd_EndDate != null) { @model.MEETING_MASTER.brand_Managment.Brd_EndDate.Value.ToString("dd.MM.yyyy")}" placeholder="Daxil edin..." class="form-control" readonly="">*@
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_DATE, new { htmlAttributes = new { @class = "form-control", placeholder = "Daxil edin...", @readonly = "readonly" } })
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_MANAGER, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="input-group select2-bootstrap-append">
                                        @Html.DropDownListFor(model => model.MEETING_MASTER.MT_MANAGER, ViewBag.MT_MANAGER as SelectList, new { @class = "form-control select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_MANAGER, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_FOLLOWER_USERID, htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-10">
                                    <div class="input-group select2-bootstrap-append">
                                        @Html.DropDownListFor(model => model.MEETING_MASTER.MT_FOLLOWER_USERID, ViewBag.MT_MANAGER as SelectList, new { @class = "form-control select2-allow-clear select2-hidden-accessible", @tabindex = "-1" })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_FOLLOWER_USERID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_NO, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_NO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_NO, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_TAGS, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_TAGS, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_TAGS, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_PLACE, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_PLACE, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_PLACE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_START_TIME, htmlAttributes: new { @class = "control-label col-md-2" })
                                @*<div class="col-md-10">
                                        @Html.EditorFor(model => model.MEETING_MASTER.MT_START_TIME, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_START_TIME, "", new { @class = "text-danger" })
                                    </div>*@
                                <div id="div_MT_START_TIME" class="input-group col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_START_TIME, new { htmlAttributes = new { @class = "form-control timepicker timepicker-24" } })
                                    @*<input type="text" class="form-control timepicker timepicker-24">*@
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-clock-o"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_FINISH_TIME, htmlAttributes: new { @class = "control-label col-md-2" })
                                @*<div class="col-md-10">
                                        @Html.EditorFor(model => model.MEETING_MASTER.MT_FINISH_TIME, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_FINISH_TIME, "", new { @class = "text-danger" })
                                    </div>*@

                                <div id="div_MT_FINISH_TIME" class="input-group col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_FINISH_TIME, new { htmlAttributes = new { @class = "form-control timepicker timepicker-24" } })
                                    @*<input type="text" class="form-control timepicker timepicker-24">*@
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-clock-o"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_SCODE1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_SCODE1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_SCODE1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_SCODE2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_SCODE2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_SCODE2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_SCODE3, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_SCODE3, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_SCODE3, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_SCODE4, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_SCODE4, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_SCODE4, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_SCODE5, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MEETING_MASTER.MT_SCODE5, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_SCODE5, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MEETING_MASTER.MT_DESCIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.MEETING_MASTER.MT_DESCIPTION, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MEETING_MASTER.MT_DESCIPTION, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div> @*ROW*@

                    <div class="form-actions right">
                        <button type="button" class="btn red" onclick="window.location.href = '/MeetingMaster';"><i class="fa fa-close"></i> İptal</button>
                        <button type="submit" class="btn green"><i class="fa fa-check"></i> Kaydet </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END MEETING MASTER INFO -->
}

@using (Html.BeginForm("CreateMeetingLines", "MeetingMaster"))
{
    @Html.AntiForgeryToken()
    <!-- BEGIN MEETING LINES -->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-file"></i> Toplanti Yonetimi Ekleme Formu
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-horizontal">
                <div class="form-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_MT_REF, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_MT_REF, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_MT_REF, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MT_LINENR, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MT_LINENR, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MT_LINENR, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_TYPE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_TYPE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_TYPE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_START_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_START_DATE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_START_DATE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_FINISH_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_FINISH_DATE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_FINISH_DATE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_RESPONSIBLE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_RESPONSIBLE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_RESPONSIBLE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_TAGS, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_TAGS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_TAGS, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_DESCRIPTION, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_PROJECT_CODE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_PROJECT_CODE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_PROJECT_CODE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_DEPARTMENT, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_DEPARTMENT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_DEPARTMENT, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_STS, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_STS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_STS, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_CONFIRMER, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_CONFIRMER, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_CONFIRMER, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_DECISION_TYPE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_DECISION_TYPE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_DECISION_TYPE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_OFFER_USER, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_OFFER_USER, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_OFFER_USER, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_OFFER_OK, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.MEETING_LINES.MTL_OFFER_OK)
                                    @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_OFFER_OK, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_RELATED_FORM_REF, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_RELATED_FORM_REF, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_RELATED_FORM_REF, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_RELATED_FORM_DESCRIPTION, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_SCODE1, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_SCODE2, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_SCODE3, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE3, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_SCODE4, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE4, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE4, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_SCODE5, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_SCODE5, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_SCODE5, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_CREATEDATE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_CREATEDATE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_CREATEDATE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_CREATE_USERID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_CREATE_USERID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_CREATE_USERID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_UPDATEDATE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_UPDATEDATE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_UPDATEDATE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MEETING_LINES.MTL_UPDATE_USERID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MEETING_LINES.MTL_UPDATE_USERID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MEETING_LINES.MTL_UPDATE_USERID, "", new { @class = "text-danger" })
                            </div>


                        </div>@*Row*@

                        <div class="form-actions right">
                            <button type="button" class="btn red" onclick="window.location.href = '/MeetingMaster';"><i class="fa fa-close"></i> İptal</button>
                            <button type="submit" class="btn green"><i class="fa fa-check"></i> Kaydet </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- END MEETING LINES -->
}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
